/* app css stylesheet */

.credits{
    font-weight: lighter;
    margin-left: 60px;
    margin-bottom: 30px;
}

.hint{
    font-weight: lighter;
    font-size: 11pt;
    margin: 0;
    margin-top: 7px;
    margin-left:20px;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 200%;
    font-size: 11pt;
}

h1 {
    margin-left: 20px;
}

h2 {
    margin-left: 40px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:lightgray;
  height: 1px;
}

input[type=text], input[type=number] /*, label */{
    height: 1.5em;
    padding-left: 10px;
    box-sizing: border-box;
}

select, input[type=text], input[type=number] {
    outline: 0;
    border-radius: 6px;
   border: thin solid lightgray;
    /*border:none;*/
}

.procedural-tier-1 {
    border: medium solid lightgray;
    /*-webkit-box-shadow: 0px 0px 12px lightgray; 
    -moz-box-shadow: 0px 1px 6px lightgray;
    box-shadow: 0px 0px 12px lightgray;*/
}

.procedural-tier-2 {
    border: medium solid greenyellow;
   /* -webkit-box-shadow: 0px 0px 12px greenyellow; 
    -moz-box-shadow: 0px 1px 6px greenyellow;
    box-shadow: 0px 0px 12px greenyellow;*/
}

.procedural-tier-3 {
    border: medium solid orange;
    /*-webkit-box-shadow: 0px 0px 12px orange; 
    -moz-box-shadow: 0px 1px 6px orange;
    box-shadow: 0px 0px 12px orange; */
}

.procedural-tier-4 {
    border: medium solid steelblue;
    /*-webkit-box-shadow: 0px 0px 12px steelblue; 
    -moz-box-shadow: 0px 1px 6px steelblue;
    box-shadow: 0px 0px 12px steelblue;*/

}

select:focus, input[type=text]:focus, input[type=number]:focus
{
    border-radius: 6px;
    /*border: thin solid #c6d0ed;*/
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
    -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

.svg-icon{
    vertical-align: middle;
}

select {
    height: 1.66em;
    padding: 0 10px;
}
.eng-comp-lbl {
    text-align: center;
}

.eng-mat-lbl {
    display: block;
    text-align: center;
}
.eng-comp-row {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.eng-comp-col {
    display:flex;
    flex-basis: 33%;
    flex-grow: 1;
    flex-direction:row;
    justify-content: space-between;
}

.eng-comp-group {
    display:flex;
    flex-basis: 40%;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    padding:5px;
}

.comp-group-quality {
    flex-basis: 20%;
    
}

.comp-group-quality > input[type=number] {
    box-sizing:border-box;
    width:100%;
    min-width:50px;
}

.eng-comp-group > label {
    white-space:nowrap; 
    text-align: center;
}

.eng-comp-group > * {
    align-content: center;
}

.eng-comp-group > select {
    width:100%;
    min-width:120px;
    box-sizing:border-box
}

div.ship-component-header {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0;
}

div.engine-list-entry-body {
    padding: 10px 10px;
    margin: 0 0;
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    overflow: hidden;
}

div.engine-list-footer {
    vertical-align: middle;
    text-align: center;
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px;
    margin: 10px 10px;
}

div.ship-schem-editor-comp-group {
    display: flex;
    flex-direction: row;
}

.engine-set-editor-footer {
    flex: 1;
    padding: 0 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14pt;
    justify-content: center;
}

div.engine-set-editor-footer > div {
    flex: 0.33;
    width:33%;
    /*display: block;*/
    text-align: center;
    border-top: thin solid lightgray;
    vertical-align: center;
    padding: 0;
    /*border-bottom: thin solid lightgray; */
}

.engine-set-editor-footer > div > span {
    font-size: 10pt;
    margin-right: 0.5em;
    vertical-align: center;
    height: 100%;
}

.engine-schem-editor-row {
    display:flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: center;
}

.ship-schem-editor-comp-group {
    display: flex;
    flex: 1;
    min-width: 50px;
    vertical-align: middle;
    align-items: center;
}

.ship-schem-editor-comp-group > label {
    flex: 0;
    margin-left: 5px;
    white-space: nowrap;
    font-size: 11pt;
    padding-right:0.5em;

}

.ship-schem-editor-comp-group  input, .ship-schem-editor-comp-group select {
    flex-basis: 25%;
    margin: 0;
    box-sizing: border-box; 
    width: 100%;
}

.ship-component-box-outer {
    margin: 0.75% 0.75% 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b1babb+0,d9e3e3+60,edeff2+100 */
    background: rgb(177,186,187); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(177,186,187,1) 0%, rgba(217,227,227,1) 60%, rgba(237,239,242,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(177,186,187,1) 0%,rgba(217,227,227,1) 60%,rgba(237,239,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(177,186,187,1) 0%,rgba(217,227,227,1) 60%,rgba(237,239,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1babb', endColorstr='#edeff2',GradientType=1 ); /* IE6-9 */
    box-shadow: 0 2px 10px lightgrey;
    border-radius: 12px;
    /*border: thin solid lightgray;*/
    padding: 5px;
}

.padding-absolute {
    padding: 8px;
}

.ship-component-tab {
    width: auto;
    vertical-align: bottom; 
    border-top-left-radius: 9px; 
    border-top-right-radius: 9px; 
    margin: 0;
    padding: 7px 9px;
    background-color: rgba(255,555,255,0.7);
    font-size: 12pt;
}

.ship-component-box-inner {
    padding: 5px 5px;
    margin: 0 0;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    background-color: rgba(255,555,255,0.7);
 }

 .full-border {
     border-radius: 9px;
 }

 .space-above {
     margin-top: 10px;
 }
 
.stat-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0 20px;
}

.stat-row  > div {
    display: block;
    flex: 0.25;
    text-align: center;
    font-size: 14pt;
}

.ship-stat-column > div:first-child {
    padding: 0;
    font-size: 16pt;
}

.ship-stat-column > div:nth-child(2) {
    font-size: 10pt;
    vertical-align: text-top;
    border-top: thin solid gray;
    margin:0;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.flex-row > span {
    display: block;
    white-space: nowrap;
    min-height: 0;
    flex-basis: auto;
    margin-right: 1em;
}

h2.stat-block-header {
    font-weight:normal;
    margin: 5px;
    margin-left: 20px;
    font-size: 14pt;
}

.graph-mode-group {
    /*display:flex;*/
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 11pt;
    justify-content: center;
}

/*.graph-mode-group > * {
    overflow: hidden;    
    flex-basis: auto;
}*/

.fixed {
    position:fixed;
}

/*.graph-mode-group > div {
    flex: 1;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    height:auto;
    font-size: 11pt;
}*/

